@mixin center() {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 42%;
  position: absolute;
}

.mouseArea {
  background-color: rgb(239,215,188);
  @include center();
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  z-index: -100;
  
}

/* Set background-clip: text to make the "background only showing on the text" */

.background {
  margin-top:5%;
  height: 115%;
  width: 105vw;
  background: url("https://source.unsplash.com/_79ZJS8pV70");
  background-repeat: no-repeat;
  background-size: cover;
  /*   background-clip: text;
  -webkit-background-clip: text; */
  position: absolute;
  right: 0;
  
}



.title {
top: 5%;
  min-width: 290px;
  min-height: 200px;
  border: 5px solid var(--text-change);
  font-weight: 800;
  color: var(--text-change);
  background-color: var(--primary-two-hollow);
  padding: 5%;
  position: relative;
  text-shadow: 5px 5px 5px var(--shadow);
  text-align: center;
  line-height: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

  h2 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: clamp(50px, 10vw, 150px);
    z-index: 10;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: auto;
    font-size: clamp(18px, 3.5vw, 50px);
  }
  font-family: "Fredericka the Great", cursive;
  font-weight: 200;
}
