.createRecipes___container {
 
  width: 100vw;
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: hidden;
  position: relative;
  
}

.create___container {
  width: 100vw;

position: absolute;
top:14%;
overflow-y: hidden;

}

.createRecipes___content {
  background-color: var(--primary-one);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--shadow), inset 2px 2px 5px var(--primary-two),
    inset -2px -5px 5px var(--shadow);
  width: 95%;
  min-width: 300px;
  max-width: 650px;
  padding:0 1.5% ;
  color: var(--text-primary);
  overflow-y: scroll;
scrollbar-width: none;
  display: flex;
  height: fit-content;
  max-height: 86vh;
  position: absolute;
}



.createRecipes___content_crooper{


  background-color: var(--primary-one);
  box-shadow: 5px 5px 5px var(--shadow), inset 2px 2px 5px var(--primary-two),
    inset -2px -5px 5px var(--shadow);
    border: 1px solid var(--shadow);
  width:100%;
  max-width: 650px;
scrollbar-width: none;
  display: flex;
  height: 80vh;
  max-height: 600px;
  position: absolute;
}





.createRecipes___content::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}






@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) {
 
}

@media (min-width: 1025px) {
 
}