.home___container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
}
.home___container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
div {
  scrollbar-width: none;
}
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.recipe___Container {
  width: 100vw;
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  flex-direction: column;
  scrollbar-width: none;
}

.recipe___Container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* HEADER */

.headerText {
  font-size: clamp(35px, 5vw, 75px);
  color: var(--primary-one);
  margin: 0;
  padding: 0px 0 20px 0;
  text-shadow: 1px 2px 2px var(--shadow);
}

.header_container {
  background-color: var(--primary-one-solid);
}

.Header___text_container {
  height: 100vh;
  min-height: 500px;
  width: 100vw;
  position: absolute;
}

.Gif___farmer_text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* MAIN */

.main_container {
  min-height: 500px;
  height: 100%;
  width: 100%;
  background-color: var(--primary-two);
}

.main_recipe_content {
  min-height: 300px;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;

}
.recipe_div {

  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recipe_div_image {
  height: 90%;
  max-height: 400px;
  width: 50%;
  max-width: 450px;
  overflow-y: hidden;
  z-index: 10;

  border-radius: 5px;
}

.recipe_div_image:last-child {
  display: none;
}

@media (min-width: 758px) {
  .recipe_div_image:last-child {
    display: flex;
  }
}
