.home___container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
  
}
.home___container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
div {
  scrollbar-width: none;
}
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.recipe___Container {
  
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  flex-direction: column;
  scrollbar-width: none;
}

.recipe___Container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* HEADER */



.header_container {
  background-color: var(--primary-one-solid);

overflow: hidden;
}



.Gif___farmer_text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* About text */
.about_container_pageText{
background-color: var(--primary-two);


}


/* MAIN - insparation*/

.main_container {
  min-height: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.main_content {
  min-height: 350px;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
  flex-direction: column;
  padding: 15px 0;

  .main_insparation_header{
font-size: clamp(20px, 2vw, 50px);
    color: var(--text-change);
    font-family: "Fredericka the Great", cursive;
    font-weight: 200;
    padding:15px;
    border: 1px solid var(--text-change);
    background-color: var(--primary-two-hollow);
  }

}

.main_recipe_content {
 height: 100%;
 margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.recipe_div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.recipe_div_image {
  background-color: var(--primary-one-solid);
  width: 100%;
  max-width: 650px;
  height: 80%;
max-height: 450px;
  overflow-y: hidden;
  border-radius: 5px;
  z-index: 10;
}

.recipe_div_image:last-child {
  display: none;
}

@media (min-width: 1024px) {
  .recipe_div_image:last-child {
    display: flex;
  }
  .main_recipe_content {
    flex-direction: row;
  }
}
