.home___container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
  font-size: 16px;
  background-color: var(--primary-one-solid);
}

.parallax {
  background-color: var(--primary-one-solid);
  min-height: 1000px;
}
.home___container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
div {
  scrollbar-width: none;
}
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.recipe___Container {
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  flex-direction: column;
  scrollbar-width: none;
}

.recipe___Container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* HEADER */

.header_container {
  height: 100%;
  background-color: var(--primary-one-solid);
  overflow: hidden;
}

.Gif___farmer_text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* About text */
.about_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-two);
  background-color: var(--primary-one-solid);
  text-shadow: 1px 1px 1px var(--shadow);
}

.about_container_article {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-one-solid);
}

.about_container_section {
  background-color: var(--primary-one);
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 7px 5px 1px var(--primary-two-hollow);

  h1 {
    font-size: clamp(15px, 4vw, 45px);
    font-family: "Fredericka the Great", cursive;
    font-weight: 200;
    margin: 1% 0 0 0;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 2vw, 26px);
    padding: 0 2%;
    margin: 0;
  }
}

/* MAIN - insparation*/

.main_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: var(--primary-one-solid);
}

.main_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15px 0;

  .main_insparation_header {
    font-size: clamp(20px, 2vw, 50px);
    color: var(--text-change);
    text-shadow: 2px 2px 2px var(--shadow);
    font-family: "Fredericka the Great", cursive;
    font-weight: 200;
    padding: 15px;
  }
}

.main_recipe_content {
  height: 100%;
  margin-top: 20px;
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.recipe_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.recipe_div_image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-two);
  aspect-ratio: 9/9;
  overflow-y: hidden;
  box-shadow: 5px 4px 1px var(--shadow);
  border-radius: 0px;
  margin: 0 auto;

  .fill_svg {
    background: var(--primary-two);
    fill: var(--primary-two);
    margin: 0 auto;
    padding: 0;
  }

  .recipe___content_title {
    width: 96%;
    margin-top: 0;
    aspect-ratio: 9/3;
    height: fit-content;
    margin: 0 2%;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--primary-one);

    h2 {
      border-top: 1px solid;
      text-align: center;
      font-size: clamp(15px, 3vw, 35px);
      margin: 0;
      padding: 4% 15px 0 15px;
      font-family: "Fredericka the Great", cursive;
    }
    p {
      font-size: clamp(10px, 3vw, 20px);
      margin: 0 0 15px 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
    }
    p:hover {
      text-decoration: underline;
    }
  }
}

.recipe_div_image:last-child {
  display: none;
}

@media (min-width: 768px) {
  .main_recipe_content {
    gap: 15px;
    width: 96%;
    gap: 15px;
    flex-direction: row;
  }

  .about_container_section {
    max-height: 800px;
  }
}

@media (min-width: 1024px) {
  .recipe_div_image:last-child {
    display: flex;
  }
}
