.profil___container {
  height: 100%;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-content: center;
  padding: 0 5px;
}

.creat_btn_header {
  visibility: visible;
}

.profil___logout_create_btn {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  width: 100%;

  button {
    height: 90%;
    max-height: 50px;
    width: 20%;
    min-width: 150px;
    max-width: 200px;
    margin: 0;
    padding: 0;
    background-color: var(--primary-one);
    font-size: clamp(6px, 2vw, 25px);
  }
  button:hover {
    transform: scale(95%);
  }
}
.loading_container {
  grid-row: 2;
  grid-column: 1/13;
}
.profil___followers {
  grid-row: 2;
  grid-column: 1/13;
  margin: 0 0 5px 0;
}

.profil_grid___Container,
.oneRecipteWidth_container {
  grid-row: 3/12;
  grid-column: 1/13;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: space-evenly;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 5px;
  scrollbar-width: none;
}

.profil_grid___Container::-webkit-scrollbar,
.oneRecipteWidth_container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.profil_grid___Content,
.oneRecipteWidth {
  display: grid;
  width: 100%;
  gap: 10px;
padding: 0px;


  h2 {
    font-size: clamp(18px, 2vw, 25px);
  }
}

.profil_createPage___Container {
  visibility: hidden;
}

.profil_follow___Container {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .creat_btn_header {
    visibility: hidden;
  }

  .profil___followers {
    grid-row: 2/7;
    grid-column: 10/13;
  }

  .profil_grid___Container {
    grid-row: 2/12;
    grid-column: 1/10;
  }

  .oneRecipteWidth_container {
    align-items: flex-start;
  }

  .profil_grid___Content {
    gap: 10px;
  
  }

  .profil_createPage___Container {
    grid-row: 3/4;
    grid-column: 10/13;
    visibility: visible;
  }


  .creat_btn_page{

    background-color: transparent;
    font-weight: 100;
    border: none;
    font-size: clamp(20px, 2vw, 28px);
    color: var(--primary-one);
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: ease-in 0.2s;
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--shadow);
    
      }
    
    .creat_btn_page:hover{
      text-decoration: underline;
      transform: none;
      box-shadow: none;
    } 
    
    .profil_grid___Container,
  .oneRecipteWidth_container {
    grid-row: 2/13;
    grid-column: 1/10;
    margin-bottom: 50px;
  }

}

@media (min-width: 1024px) {
  .creat_btn_header {
    visibility: hidden;
  }

  .profil___followers {
    grid-row: 2/7;
    grid-column: 10/13;
    margin: 0 0px 0px 0;
  }

  .profil_grid___Content {
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .oneRecipteWidth {
    max-width: 550px;
  }

  .profil_createPage___Container {
    grid-row: 3/5;
    grid-column: 10/13;
    visibility: visible;
  }
 




}
