.userProfile___container {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.userProfile___header_btn {
  width: 98%;
  height: 100px;
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    
    font-size:200%;
  }

  button {
    font-size:150%;
   
  }

.userProfile___no_btn{

  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
   
    font-size:50%;
  }

}



}
